* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 24px;
}
input {
    -webkit-appearance: none;
    appearance: none;
  }

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
  }

body {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(10, 1fr)

}
#headings{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column:2/3;
    grid-row: 2/3;
    font-size: 30px;
    place-self: center;
}

.units{
    place-self: end start;
}
#footer{
    grid-column: 2/3;
    grid-row: -1/-2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#drink1{
    display: grid;
    justify-items: center;
    grid-template-columns: 5fr 1fr 5fr 1fr 5fr 1fr;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column: 2/3;
}
